<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p style = "color: teal" *ngIf = "chores.length > finishedChores.length">Work harder!</p>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <img src="{{trophyImage}}" *ngIf = "chores.length === 0 || finishedChores.length >= chores.length + 3; else motivate">
    <ng-template #motivate>
        <p style = "color: teal">No allowance yet.</p>
    </ng-template>
</div>
<br>
<div class="iceCream">
    <h1 *ngIf= "chores.length === 0 && finishedChores.length >= 4; else moreMotivate">Ice cream treat!</h1>
    <ng-template #moreMotivate>
        <h3>To earn an ice cream treat:</h3>
        <p>The chores list must be empty.</p>
        <p>The Done list must have at least 4 items.</p>
    </ng-template>
</div>
<hr>